html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  width: 100%;
  height: auto;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
summary {
  display: list-item;
  cursor: pointer;
  color: #222;
}
template,
[hidden] {
  display: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  color: #111111;
  margin: 0;
}
h1 {
  font-size: 2.3em;
}
h2 {
  font-size: 2.1em;
}
h3 {
  font-size: 1.9em;
}
h4 {
  font-size: 1.7em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1.1em;
}

/* Typography */
p {
  margin: 0 0 1em 0;
}
a {
  color: #2ab7f4;
  background-color: transparent;
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  transition: color 0.4s ease;
}
a:visited,
a:active,
li a.active {
  color: #2ab7f4;
}
a:hover,
a:visited:hover {
  color: #222;
}
a:active,
a:hover,
a:focus {
  text-decoration: none;
  border: 0;
  outline: 0;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em; /* 2 */
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
  padding: 2px 8px;
  background: #e8e8e8;
  margin: 0;
}
b,
strong {
  font-weight: bolder;
  color: #222;
}
em {
  font-style: normal;
  color: #079fe1;
}
dfn,
cite {
  font-style: italic;
}
del {
  text-decoration: line-through;
}
small {
  font-size: 80%;
}
big {
  font-size: 125%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
tt,
var {
  font-family: monospace, monospace;
  font-style: italic;
}
mark {
  background: #079fe1;
  color: #fff;
  text-shadow: none;
}

address {
  margin: 0 0 1em 0;
  font-style: italic;
}
acronym[title], abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
abbr,
acronym {
  cursor: help;
}

/* Typography -> Blockquote */
blockquote {
  position: relative;
  margin: 10px 0;
  padding: 20px 30px 20px 20px;
  background: #f7f7f7;
  border: 1px solid #d6d6d6;
  -webkit-box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.2);
}
blockquote::before {
  position: absolute;
  top: 5px;
  right: 5px;
  content: '\f10e';
  font-family: 'milicon';
  font-size: 2em;
  line-height: 1;
}
blockquote > p:first-child {
  display: inline;
}
blockquote > :last-child {
  margin-bottom: 0;
}
/**
 * Media
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img,
a img {
  max-width: 100% !important;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  border-style: none;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  max-width: 100%;
  height: auto;
  margin: 1em 0;
  border: 0;
}
.align-left {
  margin: 1em 20px 1em 0;
}
.align-right {
  margin: 1em 0 1em 20px;
}
.align-center {
  margin-top: 1em;
  margin-bottom: 1em;
}
figcaption {
  padding: 4px;
  font-size: 0.8em;
  background: #fff;
  border: 1px solid #d6d6d6;
  text-align: center;
}
.image-field {
  margin: 0 0 1em 0;
}
/**
 * Form.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.6;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  -webkit-appearance: button;
  padding: 9px 10px;
  background-color: #079fe1;
  color: #fff;
  -webkit-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}
button:hover,
[type="button"]:hover,
[type="reset"]:hover,
[type="submit"]:hover {
  background-color: #222;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
  border-style: none;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 0;
}
button[disabled],
html input[disabled] {
  cursor: default;
  opacity: 0.7;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
input {
  line-height: normal;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 10px;
  background: #fff;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  -webkit-transition: border 0.5s linear;
  -moz-transition: border 0.5s linear;
  transition: border 0.5s linear;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  border: 1px solid #b1b1b1;
  outline: 0;
}
[type="checkbox"],
[type="radio"] {
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
textarea {
  width: 100%;
  padding: 9px;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  overflow: auto;
  -webkit-transition: border 0.3s linear;
  -moz-transition: border 0.3s linear;
  transition: border 0.3s linear;
  vertical-align: top;
}
fieldset {
  margin: 0 0 10px 0;
  padding: 0.35em 0.5em 0.5em 0;
  border: 1px solid #d6d6d6;
}
fieldset > :last-child {
  margin-bottom: 0;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
optgroup {
  font-weight: bold;
}
select {
  padding: 4px 0;
}
form label {
  font-weight: bold;
}
label[for] {
  cursor: pointer;
}
.page-content input[type="text"],
.page-content input[type="password"],
.page-content input[type="search"] {
  padding: 9px 6px;
  outline: 0;
}
.page-content input {
  max-width: 100%;
}
.form-item {
  margin-bottom: 1em;
}
.form-required:after {
  content: "*";
  display: inline-block;
  padding-left: 4px;
  color: #e3831c;
}
progress {
  vertical-align: baseline;
}
::-webkit-input-placeholder {
  color: #8a8a8a;
}
:-moz-placeholder {
  color: #8a8a8a;
}
::-moz-placeholder {
  color: #8a8a8a;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #8a8a8a;
}
/* Drupal form elements */
.form-item {
  margin-bottom: 1em;
}
.form-item label {
  display: block;
}
label.option {
  display: inline;
  font-weight: normal;
}
/**
 * List.
 */
 ul,
 ol {
   margin: 0;
   padding: 0 0 0.25em 1em; /* LTR */
 }
 [dir="rtl"] ul,
 [dir="rtl"] ol {
   padding: 0 1em 0.25em 0;
 }
 ol ol,
 ul ul {
   margin: 0;
   padding: 0 0 0.25em 1em; /* LTR */
 }
 [dir="rtl"] ol ol,
 [dir="rtl"] ul ul {
   padding: 0 1em 0.25em 0;
 }
 ul {
   list-style: disc;
 }
 ol {
   list-style: decimal;
 }
 li > ul,
 li > ol {
   margin-bottom: 0;
 }
 [dir="rtl"] ul,
 [dir="rtl"] ol {
   padding: 0 1em 0.25em 0;
 }
 li {
   padding: 4px 0;
 }
 .node-content li {
   padding: 6px 0;
 }

dt {
  font-weight: 700;
}

/**
 * Table.
 */
 table {
   width: 100%;
   margin-bottom: 1.2em;
   border-spacing: 0;
   border-collapse: collapse;
}
th,
tr,
td {
  vertical-align: middle;
}
th {
  margin: 0;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  background: #dc5431;
  color: #fff;
  border: 2px solid #f46946;
  text-align: left;
  text-shadow: none;
}
td {
  padding: 5px 10px;
  border: 2px solid #d6d6d6;
}
hr {
  clear: both;
  width: 100%;
  height: 2px;
  background: #b7b5b1;
  border: 0;
  box-sizing: content-box;
  overflow: visible;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:after,
*::after,
*:before,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::selection {
  background: #2ab7f4;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background: #2ab7f4;
  color: #fff;
  text-shadow: none;
}
.main-wrapper::after,
.b-items::before,
.b-items::after {
  content: '';
  display: table;
  clear: both;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.6;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  -webkit-appearance: button;
  padding: 9px 10px;
  background-color: #079fe1;
  color: #fff;
  -webkit-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}
button:hover,
[type="button"]:hover,
[type="reset"]:hover,
[type="submit"]:hover {
  background-color: #222;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
  border-style: none;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 0;
}
button[disabled],
html input[disabled] {
  cursor: default;
  opacity: 0.7;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
input {
  line-height: normal;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 10px;
  background: #fff;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  -webkit-transition: border 0.5s linear;
  -moz-transition: border 0.5s linear;
  transition: border 0.5s linear;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  border: 1px solid #b1b1b1;
  outline: 0;
}
[type="checkbox"],
[type="radio"] {
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
textarea {
  width: 100%;
  padding: 9px;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  overflow: auto;
  -webkit-transition: border 0.3s linear;
  -moz-transition: border 0.3s linear;
  transition: border 0.3s linear;
  vertical-align: top;
}
fieldset {
  margin: 0 0 10px 0;
  padding: 0.35em 0.5em 0.5em 0;
  border: 1px solid #d6d6d6;
}
fieldset > :last-child {
  margin-bottom: 0;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
optgroup {
  font-weight: bold;
}
select {
  padding: 4px 0;
}
form label {
  font-weight: bold;
}
label[for] {
  cursor: pointer;
}
.page-content input[type="text"],
.page-content input[type="password"],
.page-content input[type="search"] {
  padding: 9px 6px;
  outline: 0;
}
.page-content input {
  max-width: 100%;
}
/* Form -> Drupal form elements */
.form-item {
  margin-bottom: 1em;
}
.form-required:after {
  content: "*";
  display: inline-block;
  padding-left: 4px;
  color: #e3831c;
}
progress {
  vertical-align: baseline;
}
::-webkit-input-placeholder {
  color: #8a8a8a;
}
:-moz-placeholder {
  color: #8a8a8a;
}
::-moz-placeholder {
  color: #8a8a8a;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #8a8a8a;
}
/* Drupal form elements */
.form-item {
  margin-bottom: 1em;
}
.form-item label {
  display: block;
}
label.option {
  display: inline;
  font-weight: normal;
}
/**
 * List.
 */
ul,
ol {
  margin: 0;
  padding: 0 0 0.25em 1em; /* LTR */
}
[dir="rtl"] ul,
[dir="rtl"] ol {
  padding: 0 1em 0.25em 0;
}
ol ol,
ul ul {
  margin: 0;
  padding: 0 0 0.25em 1em; /* LTR */
}
[dir="rtl"] ol ol,
[dir="rtl"] ul ul {
  padding: 0 1em 0.25em 0;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li > ul,
li > ol {
  margin-bottom: 0;
}
[dir="rtl"] ul,
[dir="rtl"] ol {
  padding: 0 1em 0.25em 0;
}
li {
  padding: 4px 0;
}
.node-content li {
  padding: 6px 0;
}

/* Typography -> Definition Lists */
dt {
  font-weight: 700;
}

/**
 * Table.
 */
table {
  width: 100%;
  margin-bottom: 1.2em;
  border-spacing: 0;
  border-collapse: collapse;
}
th,
tr,
td {
  vertical-align: middle;
}
th {
  margin: 0;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  background: #dc5431;
  color: #fff;
  border: 2px solid #f46946;
  text-align: left;
  text-shadow: none;
}
td {
  padding: 5px 10px;
  border: 2px solid #d6d6d6;
}

/**
 * HTML elements
 */
hr {
  clear: both;
  width: 100%;
  height: 2px;
  background: #b7b5b1;
  border: 0;
  box-sizing: content-box;
  overflow: visible;
}

/**
 * Default box sizing.
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:after,
*::after,
*:before,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * Misc.
 */
::selection {
  background: #079fe1;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background: #079fe1;
  color: #fff;
  text-shadow: none;
}
.button, a.button {
  color: #fff;
  text-shadow: none;
  display: inline-block;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  padding: 9px 10px;
  background-color: #079fe1;
  color: #fff;
  -webkit-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}
