.tactic-slider > *:not(.animated), .morphist > *:not(.animated) {
  display: none;
}
.tactic-slider {
  display: table-cell;
  vertical-align: middle;
  z-index: 100;
  position: relative;
}
ul.tactic-slider {
  margin: 0;
  padding: 0;
}
ul.tactic-slider > li {
  width: 60%;
}
.tactic-slider p {
  width: 80%;
  font-size: 1.1em;
  margin-bottom: 2rem;
}
.slider {
  position: relative;
  display: block;
  width: 100%;
  color: #fff;
  margin-top: -2px;
  background-image: url("../images/slide-4.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.slider .slider-layer, .slider::after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(42, 183, 244, 0.4);
  z-index: 10;
}
.slider > .container {
  display: table;
  height: 100%;
}
.slider li {
  list-style: none;
}
.slider h1,
.slider h2,
.slider h3 {
  margin-bottom: 20px;
}
.slider .button {
  background: #222;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.slider .button:hover {
  background: #fff;
  color: #2AB7F4;
}
