/**
 * @file
 * Theme specific CSS.
 */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;
}
.toolbar-fixed .sticky{
  top: 38.8px;
}
.toolbar-vertical .sticky{
  top:  38.8px;
}
.toolbar-horizontal .sticky{
  top:  78.6px !important;
}

.site-brand img {
  width: auto;
  margin:.5rem 0 .5rem 1.5rem;
  max-height: 70px;
}
/***** Primary menu ********/
.mobile-menu {
  position: relative;
  display: none;
  float: right;
  margin: 0 6px 0 0;
  line-height: 1;
  color: #fff;
  cursor: pointer;
}
.mobile-menu i {
  padding: 6px;
  border: 2px solid #fff;
  border-radius: 50%;
}
.close-mobile-menu {
  display: none;
  width: 34px;
  height: 34px;
  font-family: "Heebo", sans-serif;
  line-height: 30px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  z-index: 48;
  cursor: pointer;
  text-align: center;
}
.nav-wrapper {
  position: absolute;
  right:2rem;
  bottom: 0;
}
.primary-menu-wrapper {
  font-weight: 400;
}
.menu-wrap {
  position: relative;
  float: right;
}
ul.main-menu {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Heebo", sans-serif;
  font-size: 1em;
  font-weight: 400;
  z-index: 30;
  list-style: none;
  list-style-type: none;
  text-transform: none;
}
ul.main-menu > li a,
ul.main-menu > li a:visited {
  color: #fff;
  text-decoration: none;
}
ul.main-menu li {
  position: relative;
  display: inline-block;
  padding: 0;
}
ul.main-menu > li {
  display: inline-block;
  line-height: 1;
}
ul.main-menu > li > a {
  display: block;
  margin: 0;
  padding: 14px;
  border-bottom: 2px solid #2ab7f4;
}
ul.main-menu > li > a:hover {
  color: #fff;
  border-bottom: 2px solid #fff;
}
ul.main-menu ul.submenu {
  position: absolute;
  top: 44px;
  margin: 0;
  padding: 0;
  z-index: 30;
  opacity: 0;
  border-top: 2px solid #fff;

  -webkit-box-shadow: 0 2px 14px 0 rgba(41,186,246,.2);
  box-shadow: 0 2px 14px 0 rgba(41,186,246,.2);
  opacity: 0;
  -webkit-transform: rotatex(-90deg);
  transform: rotatex(-90deg);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-transform-origin: top;
  transform-origin: top;
}
ul.main-menu ul.submenu li {
  display: block;
  width: 160px;
  padding: 14px 10px;
  font-size: 0.9em;
  background: rgba(41,186,246,.9);
  border-bottom: 1px solid #fff;
  text-align: left;
}
ul.main-menu ul.submenu li a {
  padding: 10px;
  color: #fff;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
ul.main-menu ul.submenu li a:hover {
  padding: 10px 10px 10px 14px;
}
li.expanded:hover ul.submenu,
li.collapsed:hover ul.submenu {
  display: block;
  -webkit-animation: slideUp 0.5s forwards;
  -moz-animation: slideUp 0.5s forwards;
  -o-animation: slideUp 0.5s forwards;
  animation: slideUp 0.5s forwards;

  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.active-menu li.expanded:hover ul.submenu,
.active-menu li.collapsed:hover ul.submenu {
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  animation: none;
}
ul.main-menu li:hover > a {
  color: #fff;
}
.dropdown-arrow i {
  font-size: 16px;
}

.page-search {
  position: relative;
  margin: 0;
  padding: 0;
}
.search-icon {
  position: relative;
  margin: 0;
  line-height: 1;
  cursor: pointer;
  transition: all 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000);
}
.search-icon i {
  padding: 6px;
  border: 2px solid #fff;
  border-radius: 50%;
}
.search-icon a,
.search-icon a:visited {
  color: #fff;
}
.search-box {
  padding: 1rem;
  display: block;
  position: absolute;
  border-top: 5px solid #000;
  background-color: #000;
  -webkit-box-shadow: 0 2px 14px 0 rgba(0,0,0,.2);
  box-shadow: 0 2px 14px 0 rgba(0,0,0,.2);
  opacity: 0;
  -webkit-transform: rotatex(-90deg);
  transform: rotatex(-90deg);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-transform-origin: top;
  transform-origin: top;
  width: 350px;
  top: 47px;
  right:0px;
}
.search-box.open {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.search-box-content {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 53;
  text-align: center;
}

.search-box-content .search-block-form form{
  display: inline-flex;
}
.search-box-content .search-block-form  .form-item-keys {
  margin-right: 1rem;
}
.search-box-content .block-title {
  color: #fff;
  text-align: left;
}
.search-box-content form label {
  display: none;
}
.search-box-content input[type="search"] {
  width: 100%;
  margin: 50px 0 10px;
  padding: 0 30px 10px 0;
  font-size: 1.4em;
  background: url("../images/search.png") top right no-repeat;
  color: #fff;
  border: 0;
  border-bottom: 2px solid #fff;
  border-radius: 0;
  outline: 0;
}
.search-box-content input[type="submit"] {
  padding: 10px 20px;
  background: #d1392b;
  color: #fff;
  margin: 52px 0 10px;
}
.search-box-content input[type="submit"]:hover {
  background: #000;
}
.search-box-close {
  position: absolute;
  top: 5px;
  right: 8px;
  width: 40px;
  height: 40px;
  line-height: 34px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  z-index: 55;
  cursor: pointer;
  text-align: center;
}
#block-pagetitle h1 {
  color: #fff;
  margin: 1.5rem 0 1rem;
}
.breadcrumb {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 10px 0;
  text-shadow: 1px 1px #fff;
  background: none;
}
.breadcrumb,
.breadcrumb a,
.breadcrumb a:visited {
  color: #fff;
}
.breadcrumb a:hover {
  color: #fff;
}
.breadcrumb ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.breadcrumb ol li {
  display: inline-block;
  padding: 0;
  line-height: 1;
}
.breadcrumb ol li a::after {
  margin: 0 10px;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f105";
}
#highlighted, #content-bottom {
  background-color: #f8f8f8;
}
#block-tabs ul li {
  list-style: none;
  display: inline-block;
  padding: 2px 8px;
}
/*
 * Page Layout
 */
#main-wrapper {
  position: relative;
  width: 100%;
  padding: 30px 0;
}
#main {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Full Width */
.no-sidebar #main {
  float: none;
  width: 100%;
}

/* Three column */
.two-sidebar #main {
  float: left;
  width: 40%;
  margin: 0 0 0 30%;
}

/* Two column with left sidebar */
.sidebar-left #main {
  float: right;
  width: 70%;
  margin: 0;
}

/* Two column with right sidebar */
.sidebar-right #main {
  float: left;
  width: 70%;
  margin: 0;
}

/*
 * Sidebar
 */
.sidebar {
  position: relative;
  width: 30%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Heebo", sans-serif;
}

/* Sidebar -> Sidebar left */
#sidebar-left {
  float: left;
  padding: 0 2% 0 0;
}

/* Sidebar -> Sidebar right */
#sidebar-right {
  float: right;
  padding: 0 0 0 2%;
}

/* Sidebar -> Sidebar left in three column */
.two-sidebar #sidebar-left {
  float: left;
  clear: none;
  margin: 0 0 0 -70%;
}

/* Sidebar -> Sidebar right in three column */
.two-sidebar #sidebar-right {
  float: right;
  clear: none;
  margin: 0;
}

/* Sidebar -> Sidebar block */
.sidebar .block {
  margin-bottom: 20px;
  padding: 10px;
  background: #fff;
}
.sidebar .block-title {
  position: relative;
  padding: 0 0 10px 0;
  color: #222;
}
.sidebar h3.block-title, .sidebar h2  {
  margin: 0.1em 0 0.2em 0;
  font-size: 1.3em;
  font-weight: 400;
}

.sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}
.sidebar li {
  padding: 6px 0;
  border-bottom: 2px solid #f2f1ec;
}
.sidebar li:last-child {
  border: 0;
}

/* Sidebar -> search form in sidebar */
.sidebar #search-block-form {
  display: table;
  width: 100%;
}
.sidebar #search-block-form .form-item,
.sidebar #search-block-form .form-actions {
  display: table-cell;
  vertical-align: middle;
}
.sidebar #search-block-form input {
  width: 100%;
  padding: 6px;
  border: 1px solid #f2f1ec;
  outline: 0;
}
.sidebar #search-block-form input:focus {
  outline: 0;
}
.sidebar #search-block-form input[type="submit"] {
  border-radius: 2px;
}

/*
 * Footer
 */
.footer {
  position: relative;
  width: 100%;
  padding: 30px 0 20px 0;
  background: #2ab7f4;
  color: #fff;
}
.footer a,
.footer a:visited {
  color: #000;
}
.footer a:hover {
  color: #fff;
  border-bottom: 1px dotted #fff;
}
.footer .block-title, .footer nav h2 {
  position: relative;
  margin: 0 0 10px 0;
  padding: 0 0 8px 0;
  font-size: 1.4em;
  color: #fff;
}
.footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}
.footer li {
  padding: 4px 0;
  border-bottom: 1px solid #2ab7f4;
}
.footer li:last-child {
  border-bottom: 0;
}

/* Footer -> footer top block region */
#footer-top {
  position: relative;
  width: 100%;
  padding: 0 0 30px 0;
}

/* Footer -> four column block regions */
.footer-blocks {
  padding: 0 0 20px 0;
}
.footer-blocks .block-title::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 60px;
  height: 2px;
}

/* Footer -> footer bottom block region */
#footer-bottom {
  position: relative;
  padding: 20px 0 0 0;
}
.footer-bottom-section {
  position: relative;
  float: none;
  width: 100%;
}
.footer-bottom {
  position: relative;
  padding: 20px 0 0 0;
}


/* Footer -> footer bottom -> Social icons. */
ul.social-icons {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.social-icons li,
ul.social-icons li:last-child {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
  line-height: 46px;
  border: 2px solid #2995cd;
  border-radius: 50%;
  text-align: center;
}
ul.social-icons i {
  font-size: 1.4em;
  line-height: 46px;
}
ul.social-icons li a {
  display: inline-block;
  color: #fff;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  o-transition: all 0.4s ease;
}
ul.social-icons li a:visited {
  color: #fff;
}
ul.social-icons li:hover {
  border: 2px solid #fff;
}
ul.social-icons li a:hover {
  border: 0;
}
.footer-blocks > div {
  display: flex;
  width: 100%;
}
.footer-blocks .block, .footer-blocks nav {
  flex: 2;
  padding: 16px;
}
#footer-bottom .footer-bottom-section {
  padding: 20px 0 0 0;
  border-top: 4px double #ffffff;
}
.scrolltop {
  position: fixed;
  display: none;
  right: 10px;
  bottom: 10px;
  width: 44px;
  height: 44px;
  line-height: 44px;
  background: #222;
  color: #fff;
  border-radius: 50%;
  z-index: 28;
  cursor: pointer;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  transition: background 0.3s ease;
  text-align: center;
}
.scrolltop i {
  font-size: 1.6em;
  line-height: 44px;
}
.scrolltop:hover {
  background: #05587c;
}

.b-items{
  position: relative;
  width: 100%;
  clear: both;
  margin: 0 0 20px 0;
}
.b-item {
  position: relative;
  float: left;
  padding: 20px 1%;
  bottom: 0;
  text-align: center;
  border-radius: 4px;
  transition: all linear .3s;
}
.b-item i {
  color: #079fe1;
  transition: all linear 0.5s;
}
.b-item {
  border: 2px solid #fff;
  padding: 10px 20px;
}
.b-item:hover {
  background: #079fe1;
  color: #ffffff;
  bottom: 10px;
}
.b-item:hover i {
  color: #ffffff;
}
.b-item:hover h3,
.b-item:hover h4,
.b-item:hover h5 {
  color: #ffffff;
}
.b-item:hover a,
.service:hover a {
  color: #111;
}
.b-item:hover .button {
  color: #fff;
  background-color: #222;
  border: 1px solid #fff;
}
.home-content .block {
  width: 100%;
  margin-bottom: 80px;
}
.home-content  .block-title {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}
.home-content .block-title::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  width: 60px;
  height: 2px;
  margin-left: -30px;
  background: #222;
}

#content-bottom .block-title {
  text-align:center;
  margin-bottom:1.5rem;
}

.social-team li {
  display: inline-block;
  list-style: none;
}
