<!-- Start: Footer -->
<footer class="footer">
  <div class="container">
   {% if page.footer %}
   <section id="footer-blocks">
      <div class="footer-blocks">
        {{ page.footer }}
      </div> <!-- End of .footer-blocks -->
   </section> <!-- End of #footer-blocks -->
 {% endif %} {# end if for footer one, two, three, four blocks #}

 {% if copyright_text or all_icons_show or page.footer_bottom %}
  <section id="footer-bottom">
    {% if page.footer_bottom %}
      <div class="footer-bottom">
        {{ page.footer_bottom }}
      </div> <!-- end of .footer-bottom -->
    {% endif %}
    {% if copyright_text or all_icons_show %}
      <div class="footer-bottom-section row">
      {% if copyright_text %}
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
          <div class="copyright">
            &copy; {{ "now"|date("Y") }} {{ site_name }}, All rights reserved.
          </div>
        </div> <!-- /.one_half -->
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 text-right">
      {% else %}
        <div class="text-right">
      {% endif %}
        {% include '@tactic/partial/social-link.html.twig' %}
      </div> <!-- end of .text_right -->
    </div> <!-- end of .footer-bottom-section -->
    {% endif %} <!-- end of condition if copyright or social icons -->
  </section> <!-- end of footer-bottom -->
  {% endif %}

  </div><!-- End of.container -->
</footer>
{% if scrolltotop_on %}
<div class="scrolltop"><i class="fa fa-angle-up"></i></div>
{% endif %}
<!-- End of Footer -->

