<!-- Start: Header -->
<header class="header">
  <div class="header-main sticky">
    <div class="row">
    {% if page.branding %}
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="site-brand">
          {{ page.branding }}
        </div> <!--End of .site-branding -->
      </div>
    {% endif %}
      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <div class="nav-wrapper d-inline-flex">
         {% if page.primary_menu %}
           <div class="mobile-menu">
             <i class="fa fa-bars" aria-hidden="true"></i>
           </div>
           <div class="primary-menu-wrapper">
             <div class="menu-wrap">
               <div class="close-mobile-menu">x</div>
               {{ page.primary_menu }}
             </div>
           </div>
         {% endif %}
             <!-- End of primary menu region -->
          {% if page.search_box %}
            <div class="page-search">
              <div class="search-icon">
                <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
              </div> <!--/.search icon -->
              <div class="search-box">
                <div class="search-box-close">x</div>
                <div class="search-box-content">
                  {{ page.search_box }}
                </div>
              </div> <!-- End of .search-box -->
            </div> <!-- End of .full-page-search -->
          {% endif %}
        </div>
      </div>
    </div> <!-- End of .header-right -->
  </div> <!-- End of .container -->

  {% if is_front and slider_show %}
    {% include '@tactic/partial/slider.html.twig' %}
  {% elseif not is_front %}
    <section class="page-header">
      <div class="container">
        {% if page.header %}
          <div class="page-header">
            {{ page.header }}
          </div>
        {% endif %}
        {% if page.breadcrumb %}
          <div class="breadcrumb">
            {{ page.breadcrumb }}
          </div>
        {% endif %}
      </div><!-- End of .container -->
    </section>
  {% endif %}

</header>
<!-- End of Header -->
