<div class="slider">
  <div class="container">
    <ul class="tactic-slider">
      {% if slider_code != '' %}
        {{ slider_code | striptags('<ol>,<ul>,<li>,<p>,<a>,<img>,<video>,<h1>,<h2>,<h3>,<h4>,<h5>,<h6>,<em>,<strong>,<br>,<i>,<button>,<mark>') | raw }}
      {% else %}
      <li>
				<h1>Tactic slider title #1</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod te incididunt ut labore et dolore magna aliqua.</p>
				<a class="button" href="#">Get Started</a>
			</li>
			<li>
				<h1>Tactic slider title #2</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod te incididunt ut labore et dolore magna aliqua.</p>
				<a class="button" href="#">Get Started</a>
			</li>
			<li>
				<h1>Tactic slider title #2</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod te incididunt ut labore et dolore magna aliqua..</p>
				<a class="button" href="#">Get Started</a>
			</li>
      <li>
        <h1>Tactic slider title #2</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod te incididunt ut labore et dolore magna aliqua.</p>
        <a class="button" href="#">Get Started</a>
      </li>
      {% endif %}
    </ul> <!-- End of .home-slider -->
  </div> <!-- End of .container -->
  <div class="slider-layer"></div>
</div>
