{% if all_icons_show %}
<ul class="social-icons">
  {% if facebook_url != '' %}
    <li><a href="{{ facebook_url }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
  {% endif %}
  {% if twitter_url != '' %}
    <li><a href="{{ twitter_url }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
  {% endif %}
  {% if instagram_url != '' %}
    <li><a href="{{ instagram_url }}" target="_blank"><i class="fa fa-instagram"></i></a></li>
  {% endif %}
  {% if linkedin_url != '' %}
    <li><a href="{{ linkedin_url }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
  {% endif %}
  {% if youtube_url != '' %}
    <li><a href="{{ youtube_url }}" target="_blank"><i class="fa fa-youtube"></i></a></li>
  {% endif %}
  {% if gplus_url != '' %}
    <li><a href="{{ gplus_url }}" target="_blank"><i class="fa fa-google-plus"></i></a></li>
  {% endif %}
  {% if telegram_url != '' %}
    <li><a href="{{ telegram_url }}" target="_blank"><i class="fa fa-telegram"></i></a></li>
  {% endif %}
  {% if whatsapp_url != '' %}
    <li><a href="{{ whatsapp_url }}" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
  {% endif %}
  {% if github_url != '' %}
    <li><a href="{{ github_url }}" target="_blank"><i class="fa fa-github"></i></a></li>
  {% endif %}
  {% if vk_url != '' %}
    <li><a href="{{ vk_url }}" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
  {% endif %}
</ul>
{% endif %}
