{#
/**
 * @file
 * Mili's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content:
 *
 * Regions:
 * - page.header_top: Content for the header top region.
 * - page.site_branding: Content (logo, site name, site slogan) for the site branding region.
 * - page.primary_menu: Content for the primary menu region.
 * - page.search_box: Content for the full page search region.
 * - page.breadcrumb: Content for the breadcrumb region.
 * - page.highlighted: Content for the highlighted region.
 * - page.content: The main content of the current page.
 * - page.content_top: Content for the content top region.
 * - page.content_bottom: Content for the content bottom region.
 * - page.sidebar_first: Content for the left sidebar.
 * - page.sidebar_second: Content for the second / right sidebar.
 * - page.footer_top: Content for the footer top region.
 * - page.footer_first: Content for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_bottom: Items for the footer bottom region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% include '@tactic/partial/header.html.twig' %}
{% if page.highlighted %}
  <!-- Start of highlighted -->
  <div id="highlighted">
    <div class="container p-3">
      {{ page.highlighted }}
    </div>
  </div>
  <!-- End of highlighted -->
{% endif %}
<div id="main-wrapper" class="main-wrapper">
  <div class="container">
    <main id="main" class="page-content">
      {% if page.content_top %}
        <section id="content-top" class="section">
          {{ page.content_top }}
        </section>
      {% endif %}
      <div class = "pt-3 pb-3">
        {{ page.content }}
      </div>
    </main>
    {% if page.sidebar_first %}
      <!-- Start: Left Sidebar -->
      <div id="sidebar-left" class="sidebar">
        <aside class="sidebar-left" role="complementary">
          {{ page.sidebar_first }}
        </aside>
      </div>{# End of sidebar-left #}
      <!-- End of Left Sidebar -->
    {% endif %}
    {% if page.sidebar_second %}
      <!-- Start: Right Sidebar -->
      <div id="sidebar-right" class="sidebar">
        <aside class="sidebar-right" role="complementary">
          {{ page.sidebar_second }}
        </aside>
      </div>{# End of sidebar-right #}
      <!-- End of Right Sidebar -->
    {% endif %}
  </div> {# End of .container #}
</div>{# End of main-wrapper #}
{% if page.content_bottom %}
  <section id="content-bottom" class="section p-3">
    <div class="container">
      {{ page.content_bottom }}
    </div>
  </section>
{% endif %}
{% include '@tactic/partial/footer.html.twig' %}
