{#
/**
 * @file
 * Tactic's theme implementation to display front page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template.
 *
 */
#}
{% include '@tactic/partial/header.html.twig' %}
{% if page.highlighted %}
  <!-- Start: highlighted -->
  <div id="highlighted">
    <div class="container p-3">
      {{ page.highlighted }}
    </div>
  </div>
  <!-- End: highlighted -->
{% endif %}
<div id="main-wrapper" class="main-wrapper">
  <div class="container">
    <main id="home-main" class="page-content home-content">
      {% if page.content_top %}
        <section id="content-top" class="section">
          {{ page.content_top }}
        </section>
      {% endif %}
      <div class = "pt-3 pb-3">
        {{ page.content }}
      </div>
    </main>
  </div> {# End of .container #}
</div>{# End of main-wrapper #}
{% if page.content_bottom %}
  <section id="content-bottom" class="section p-3">
    <div class="container">
      {{ page.content_bottom }}
    </div>
  </section>
{% endif %}
{% include '@tactic/partial/footer.html.twig' %}
{% if slider_show %}
  {{ attach_library('tactic/slider') }}
{% endif %}
